-- MySQL dump 10.13  Distrib 8.0.35, for Win64 (x86_64)
--
-- Host: localhost    Database: tecdb
-- ------------------------------------------------------
-- Server version	8.0.35

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$600000$EuQFdnxCNjkuSHmEhlLvkO$PEBnTlK2KUbs4/n7qLpb24BwD8BNrMzmk6tMYg1Fmoc=','2023-10-08 02:58:34.420188',1,'arun','','','pattusputtus@gmail.com',1,1,'2023-10-08 02:57:44.967905');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(9,'lookupApi','bloodgroup'),(14,'lookupapi','caste'),(12,'lookupapi','community'),(15,'lookupapi','country'),(17,'lookupapi','district'),(11,'lookupapi','gender'),(10,'lookupApi','genderlookup'),(19,'lookupapi','location_type'),(13,'lookupapi','religion'),(16,'lookupapi','state'),(18,'lookupapi','taluk'),(6,'sessions','session'),(8,'StudentApi','studentloginmodel'),(7,'StudentApi','studentsmodel');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('nan54xkfbpcu1540lg9f397zqseyxwb1','.eJxVjDEOgzAMRe-SuYpiEkPSsTtnQCa2C20VJAJT1btXSAzt-t97_20G2rdp2Kusw8zmasBcfreR8lPKAfhB5b7YvJRtnUd7KPak1fYLy-t2un8HE9XpqH2U4EWQonptuZOMyALSOXUJY0RJzoeAAMAKnrEhaXzSVpXSGM3nC_CIOBs:1qpK02:EDsfkZT1JuA-iyHGj0DbTWncP5kZXlsdbRMCRqoDZTQ','2023-10-22 02:58:34.694408');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_bloodgroup`
--

DROP TABLE IF EXISTS `lookupapi_bloodgroup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_bloodgroup` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(4) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_bloodgroup`
--

LOCK TABLES `lookupapi_bloodgroup` WRITE;
/*!40000 ALTER TABLE `lookupapi_bloodgroup` DISABLE KEYS */;
INSERT INTO `lookupapi_bloodgroup` VALUES (1,'A-'),(2,'A+'),(3,'A1-'),(4,'A1+'),(5,'A1B-'),(6,'A1B+'),(7,'A2-'),(8,'A2+'),(9,'A2B-'),(10,'A2B+'),(11,'AB-'),(12,'AB+'),(13,'B-'),(14,'B+'),(15,'B1+'),(16,'O-'),(17,'O+');
/*!40000 ALTER TABLE `lookupapi_bloodgroup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_caste`
--

DROP TABLE IF EXISTS `lookupapi_caste`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_caste` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(1000) NOT NULL,
  `communityId` smallint NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1064 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_caste`
--

LOCK TABLES `lookupapi_caste` WRITE;
/*!40000 ALTER TABLE `lookupapi_caste` DISABLE KEYS */;
/*!40000 ALTER TABLE `lookupapi_caste` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_community`
--

DROP TABLE IF EXISTS `lookupapi_community`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_community` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(30) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_community`
--

LOCK TABLES `lookupapi_community` WRITE;
/*!40000 ALTER TABLE `lookupapi_community` DISABLE KEYS */;
INSERT INTO `lookupapi_community` VALUES (1,'OC'),(2,'MBC'),(3,'ST'),(4,'BC-Others'),(5,'BC-Muslim'),(6,'SC-Arunthathiyar'),(7,'SC-Others'),(8,'DNC (Denotified Communities)'),(9,'NOT APPLICABLE');
/*!40000 ALTER TABLE `lookupapi_community` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_country`
--

DROP TABLE IF EXISTS `lookupapi_country`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_country` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=194 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_country`
--

LOCK TABLES `lookupapi_country` WRITE;
/*!40000 ALTER TABLE `lookupapi_country` DISABLE KEYS */;
/*!40000 ALTER TABLE `lookupapi_country` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_course`
--

DROP TABLE IF EXISTS `lookupapi_course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_course` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(1000) NOT NULL,
  `degreeId` smallint NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_course`
--

LOCK TABLES `lookupapi_course` WRITE;
/*!40000 ALTER TABLE `lookupapi_course` DISABLE KEYS */;
INSERT INTO `lookupapi_course` VALUES (1,'Computer Science & Engineering',1),(2,'Electronics & Communication Engineeringering',1),(3,'Electrical & Electronics Engineering',1),(4,'Civil Engineering',1),(5,'Mechanical Engineering',1),(6,'Artificial Intelligence & Data Science',2),(7,'Information Technology',2),(8,'Computer Science & Engineering',3),(9,'VLSI Design',3),(10,'Construction Engineering & Management',3),(11,'Engineering Design',3);
/*!40000 ALTER TABLE `lookupapi_course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_degree`
--

DROP TABLE IF EXISTS `lookupapi_degree`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_degree` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(1000) NOT NULL,
  `graduationId` smallint NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_degree`
--

LOCK TABLES `lookupapi_degree` WRITE;
/*!40000 ALTER TABLE `lookupapi_degree` DISABLE KEYS */;
INSERT INTO `lookupapi_degree` VALUES (1,'Bachelor Of Engineering(B.E)',1),(2,'Bachelor Of Technology(B.Tech)',1),(3,'Master Of Engineering(M.E)',2),(4,'Master of Business Administration(MBA)',2),(5,'Master of Computer Application(MCA)',2);
/*!40000 ALTER TABLE `lookupapi_degree` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_district`
--

DROP TABLE IF EXISTS `lookupapi_district`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_district` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_district`
--

LOCK TABLES `lookupapi_district` WRITE;
/*!40000 ALTER TABLE `lookupapi_district` DISABLE KEYS */;
/*!40000 ALTER TABLE `lookupapi_district` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_gender`
--

DROP TABLE IF EXISTS `lookupapi_gender`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_gender` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_gender`
--

LOCK TABLES `lookupapi_gender` WRITE;
/*!40000 ALTER TABLE `lookupapi_gender` DISABLE KEYS */;
INSERT INTO `lookupapi_gender` VALUES (1,'MALE'),(2,'FEMALE'),(3,'TRANSGENDER');
/*!40000 ALTER TABLE `lookupapi_gender` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_graduation`
--

DROP TABLE IF EXISTS `lookupapi_graduation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_graduation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(4) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_graduation`
--

LOCK TABLES `lookupapi_graduation` WRITE;
/*!40000 ALTER TABLE `lookupapi_graduation` DISABLE KEYS */;
INSERT INTO `lookupapi_graduation` VALUES (1,'UG'),(2,'PG');
/*!40000 ALTER TABLE `lookupapi_graduation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_location_type`
--

DROP TABLE IF EXISTS `lookupapi_location_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_location_type` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_location_type`
--

LOCK TABLES `lookupapi_location_type` WRITE;
/*!40000 ALTER TABLE `lookupapi_location_type` DISABLE KEYS */;
INSERT INTO `lookupapi_location_type` VALUES (1,'RURAL'),(2,'URBAN');
/*!40000 ALTER TABLE `lookupapi_location_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_religion`
--

DROP TABLE IF EXISTS `lookupapi_religion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_religion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(30) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_religion`
--

LOCK TABLES `lookupapi_religion` WRITE;
/*!40000 ALTER TABLE `lookupapi_religion` DISABLE KEYS */;
INSERT INTO `lookupapi_religion` VALUES (1,'Buddhism'),(2,'Christian'),(3,'Hindu'),(4,'Jainism'),(5,'Muslim'),(6,'others'),(7,'Religion not disclosed'),(8,'Sikh');
/*!40000 ALTER TABLE `lookupapi_religion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_state`
--

DROP TABLE IF EXISTS `lookupapi_state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_state` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_state`
--

LOCK TABLES `lookupapi_state` WRITE;
/*!40000 ALTER TABLE `lookupapi_state` DISABLE KEYS */;
/*!40000 ALTER TABLE `lookupapi_state` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lookupapi_taluk`
--

DROP TABLE IF EXISTS `lookupapi_taluk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lookupapi_taluk` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` varchar(50) NOT NULL,
  `districtId` smallint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `lookupapi_taluk_chk_1` CHECK ((`districtId` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=314 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lookupapi_taluk`
--

LOCK TABLES `lookupapi_taluk` WRITE;
/*!40000 ALTER TABLE `lookupapi_taluk` DISABLE KEYS */;
/*!40000 ALTER TABLE `lookupapi_taluk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentapi_studentloginmodel`
--

DROP TABLE IF EXISTS `studentapi_studentloginmodel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `studentapi_studentloginmodel` (
  `studentsmodel_ptr_id` bigint NOT NULL,
  `userid` varchar(20) NOT NULL,
  `password` varchar(20) NOT NULL,
  PRIMARY KEY (`studentsmodel_ptr_id`),
  UNIQUE KEY `userid` (`userid`),
  CONSTRAINT `StudentApi_studentlo_studentsmodel_ptr_id_07c5b40f_fk_StudentAp` FOREIGN KEY (`studentsmodel_ptr_id`) REFERENCES `studentapi_studentsmodel` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentapi_studentloginmodel`
--

LOCK TABLES `studentapi_studentloginmodel` WRITE;
/*!40000 ALTER TABLE `studentapi_studentloginmodel` DISABLE KEYS */;
INSERT INTO `studentapi_studentloginmodel` VALUES (12,'Arun@@2019','Arunsmiley@@2022');
/*!40000 ALTER TABLE `studentapi_studentloginmodel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentapi_studentsmodel`
--

DROP TABLE IF EXISTS `studentapi_studentsmodel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `studentapi_studentsmodel` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `profile` varchar(100) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `dob` varchar(20) NOT NULL,
  `gender` smallint unsigned NOT NULL,
  `bloodgroup` smallint unsigned NOT NULL,
  `nationality` varchar(10) DEFAULT NULL,
  `religion` smallint unsigned NOT NULL,
  `community` smallint unsigned NOT NULL,
  `caste` int unsigned NOT NULL,
  `aadhar` varchar(12) NOT NULL,
  `firstgraduate` varchar(10) NOT NULL,
  `mobile` varchar(15) NOT NULL,
  `emailid` varchar(254) NOT NULL,
  `country` smallint unsigned NOT NULL,
  `state` smallint unsigned NOT NULL,
  `district` smallint unsigned NOT NULL,
  `location_type` varchar(5) NOT NULL,
  `taluk` smallint unsigned NOT NULL,
  `place` varchar(50) NOT NULL,
  `address` longtext NOT NULL,
  `fathersname` varchar(100) NOT NULL,
  `fathersoccupation` varchar(100) NOT NULL,
  `mothersname` varchar(100) NOT NULL,
  `mothersoccupation` varchar(100) NOT NULL,
  `annual_income` varchar(50) NOT NULL,
  `parents_mobile_number` varchar(15) NOT NULL,
  `account_number` varchar(50) DEFAULT NULL,
  `ifsc` varchar(50) DEFAULT NULL,
  `pincode` varchar(20) DEFAULT NULL,
  `academic_year` smallint unsigned DEFAULT NULL,
  `course` smallint unsigned DEFAULT NULL,
  `degree` smallint unsigned DEFAULT NULL,
  `graduation` smallint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `aadhar` (`aadhar`),
  UNIQUE KEY `mobile` (`mobile`),
  UNIQUE KEY `StudentApi_studentsmodel_emailid_3867dff0_uniq` (`emailid`),
  CONSTRAINT `StudentApi_studentsmodel_bloodgroup_d4908e4c_check` CHECK ((`bloodgroup` >= 0)),
  CONSTRAINT `StudentApi_studentsmodel_caste_a9300c2b_check` CHECK ((`caste` >= 0)),
  CONSTRAINT `studentapi_studentsmodel_chk_1` CHECK ((`academic_year` >= 0)),
  CONSTRAINT `studentapi_studentsmodel_chk_2` CHECK ((`course` >= 0)),
  CONSTRAINT `studentapi_studentsmodel_chk_3` CHECK ((`degree` >= 0)),
  CONSTRAINT `studentapi_studentsmodel_chk_4` CHECK ((`graduation` >= 0)),
  CONSTRAINT `StudentApi_studentsmodel_community_e3860f74_check` CHECK ((`community` >= 0)),
  CONSTRAINT `StudentApi_studentsmodel_country_4a9d6d2e_check` CHECK ((`country` >= 0)),
  CONSTRAINT `StudentApi_studentsmodel_district_616cd689_check` CHECK ((`district` >= 0)),
  CONSTRAINT `StudentApi_studentsmodel_gender_c20bfacc_check` CHECK ((`gender` >= 0)),
  CONSTRAINT `StudentApi_studentsmodel_religion_add0b1c7_check` CHECK ((`religion` >= 0)),
  CONSTRAINT `StudentApi_studentsmodel_state_80454943_check` CHECK ((`state` >= 0)),
  CONSTRAINT `StudentApi_studentsmodel_taluk_24b32e40_check` CHECK ((`taluk` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentapi_studentsmodel`
--

LOCK TABLES `studentapi_studentsmodel` WRITE;
/*!40000 ALTER TABLE `studentapi_studentsmodel` DISABLE KEYS */;
INSERT INTO `studentapi_studentsmodel` VALUES (12,'students/TEC-LOGO.jpeg','programmer','28/09/2005',1,17,NULL,3,2,6,'657658876567','yes','8667706334','officialarun2019@gmail.com',1,31,23,'2',170,'nemili','fuck the adress','selvam','farmer','sasikala','housewife','64000','9943824999','576565675','tmbl0000295','6876876',NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `studentapi_studentsmodel` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-12-09  7:16:21
