* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  transition: all ease-in-out 0.2s;
  /* transition: all ease-in-out 0.2s; */
}

:root {
  --edit-green: rgb(0, 206, 0);
  --cancel-red: rgb(255, 51, 0);
}
/* re useable  */
.flex-center-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}
.login-link {
  text-decoration: underline;
  font-weight: 500;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.login-link:hover {
  color: #d93025;
}
/* forgot  */
.forgot-ctn {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.fgt-header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.fgt-btns {
  height: 15rem;
  width: 15rem;
  gap: 1.5rem;
}
/* forgot popup */
.fgt-bg-blur-ctn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  position: absolute;
}
.fgt-popup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  height: auto;
  padding: 1rem 0 1rem 0;
  gap: 1rem;
  box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.2);
  background-color: #fdfdfd;
  z-index: 4;
}
.fgt-popup .inputdiv {
  width: 80%;
}
.fgt-popup-header {
  position: absolute;
  top: 1rem;
  font-size: larger;
  font-weight: 400;
  width: 100%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 2rem;
  font-weight: 500;
}
.fgt-close {
  position: absolute;
  top: -3rem;
  right: 0;
  font-size: 2rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  width: 1.8rem;
  height: 1.8rem;
}
.suc-border {
  border-color: var(--edit-green) !important;
}
.closed {
  pointer-events: none;
  opacity: 0.4;
}
/* view popup */
.view-popup-ctn {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;
}
.view-key {
  font-size: larger;
  font-weight: 700;
}
.view-value {
  font-size: 1.4rem;
  background-color: rgb(116, 116, 116);
  color: #ffffff;
  padding: 4px 8px;
}
/* reset popup */
.fgt-reset-ctn {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  height: auto;
  gap: 1rem;
  padding: 4rem 0rem 2rem 0px;
}
.fgt-reset-header {
  position: absolute;
  top: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  width: auto;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--cancel-red);
  color: #e6e6e6;
}
/*----overall dashboard ---*/
.overall-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

/* side bar */
.sidebar-container {
  transition: all ease-in-out 0.2s;
  position: fixed;
  left: .3rem;
  top: .5%;
  cursor: pointer;
  background-color: #352cb6;
  height: 99%;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  display: flex;
  width: 12rem;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 5;
  border-radius:.5rem;
  box-shadow: 0px 0px 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.delete {
  background-color: #d93025;
}
.link-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  border-radius: 0.5rem;
  color: #ffff;
  gap: 1rem;
}

.sidebar-container .header {
  margin-top: .3rem;
  height: 4rem;
  background-color: #00000044;
}

.link-container .link-text {
  font-weight: 600;
  pointer-events: none;
  font-size: 1.2rem;
}
.logout {
  display: flex;
  width: 100%;
  height: 2.5rem;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  padding: 1.6rem;
  border-radius: 0.5rem;
  color: #ffff;
}
.content-top-container {
  position: sticky;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  position: fixed;
  top: 5rem;
  width: calc(100% - 5rem);
  left: 4.7rem;
  height: calc(100% - 5.2rem);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: blue #ffffff;
  border-radius: 0.5rem;
  border: 4px solid #352cb6;
}
.main-content::-webkit-scrollbar{
  width: 2rem;
}
div:focus {
  outline: none;
}
.main-content-close {
  left: 12rem;
  width: calc(100% - 12rem);
}
.ifsc-input {
  text-transform: capitalize !important;
}
/* .sidebar-container.close .topbar-container {
  left: 4rem;
} */
/* top barr */
.topbar-container {
  position: fixed;
  width: calc(100% - 5rem);
  max-height: 4.5rem;
  left: 4.7rem;
  top: 0.3rem;
  border-radius: 0.4rem;
  background-color: rgb(53, 44, 182);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0.7rem;
}
.pdfIframe {
  width: 100%;
  height: 1000px;
}
.student-profile-txt {
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
}
.profile-name-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  color: #ffffff;
  width: auto;
  font-weight: 500;
  gap: 0.5rem;
  height: 85%;
}

.profile-name-container .st-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  border: 2px solid;
  overflow: hidden;
  width: 4rem;
  border-radius: 50%;
}
.profile-name-container .st-name{
  color: #000000;
  background-color: #ffffff;
  padding: 2px 4px;
  border-radius: 6px;
  font-weight: 700;
  font-size: .8rem;
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.1),0px 0px 2px 4px rgba(0, 0, 0, 0.1),0px 0px 2px 4px rgba(0, 0, 0, 0.1),0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.profile-name-container img {
  width: 100%;
  border: none;
  outline: none;
  /* object-fit: cover; */
}
.topbarClose {
  transition: ease 0.3s;
  max-height: 0;
  padding: 0;
}
.topbar-container.topbarClose .profile-name-container {
  transition: none;
  opacity: 0;
}
.topbar-container.topbarClose .student-profile-txt {
  transition: none;
  opacity: 0;
}
.ifsc-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .dashboard,
.edit,
.export {
  color: #ffff;
} */
.icon {
  pointer-events: none;
  font-size: 1.8rem;
}
.link-container:hover {
  background-color: #ffff;
  color: blue;
}

.active {
  color: #0000ff;
  background-color: #ffffff;
}
.close {
  transition: all ease-in-out 0.2s;
  width: 4rem;
}

/*  --------- spinner css -------*/
.loading-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 2;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

/*  --------- profile css -------*/
.s-h-dash {
  position: static !important;
  border-radius: 0 !important;
}
.profile-container {
  transition: all ease-in-out 0.2s;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  position: relative;
  align-items: center;
  background-color: #7cf6ff;
  justify-content: center;
  color: rgb(77, 77, 77);
}

.showdiv {
  width: 20rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.showdiv label {
  font-size: 1.4rem;
  font-weight: 600;
}
.main-content.main-content-close .showdiv label {
  font-size: 1.3rem;
}
.main-content.main-content-close .editdiv label {
  font-size: 1.3rem;
}
.showdiv input {
  border: none;
  outline: none;
  width: 100%;
  font-size: larger;
  border-radius: 0.5rem;
  padding-left: 1rem;
  height: 4rem;
}
.textarea {
  height: 7rem !important;
}
.textarea textarea {
  padding-top: 1rem;
}
.textarea textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: larger;
  border-radius: 0.5rem;
  padding-left: 1rem;
  margin: 0;
}
.fg-container {
  display: flex;
  height: 2rem;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  font-weight: 400;
  font-size: larger;
}
.fg-container .fg-show {
  width: 1.5rem;
}

.sidebar-container.close .link-text {
  color: #ffffff00;
  opacity: 0;
}
/* ----Edit------*/
.editdiv {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 5rem;
  width: 9cm;
  justify-content: space-evenly;
}
.editdiv label {
  font-size: 1.4rem;
  font-weight: 600;
}
.editdiv input {
  border: none;
  outline: none;
  width: 100%;
  font-size: larger;
  border-radius: 0.5rem;
  padding-left: 1rem;
  height: 4rem;
}
.edit-submit-btn-con {
  display: flex;
  width: auto;
  gap: 2rem;
  height: auto;
  margin-bottom: 2rem;
}
.cancel {
  background-color: var(--cancel-red) !important;
  border-color: var(--cancel-red) !important;
}
.edit {
  background-color: var(--edit-green);
  border-color: var(--edit-green);
}
.cancel:hover {
  border-color: var(--cancel-red) !important;
  background-color: #ffff !important;
  color: var(--cancel-red) !important;
}
.edit:hover {
  border-color: var(--edit-green);
  background-color: #ffff;
  color: var(--edit-green);
}
/*------pdf-container-----*/
.export-container {
  background-color: #7cf6ff;

  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2cm;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.preview-txt {
  font-size: 1.7rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  font-weight: 700;
}
.pdf-container {
  background-color: #fff;
  width: 21cm;
  height: 29.7cm;
  flex-shrink: inherit;
  padding: 1cm;
  z-index: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.2);
}

.pdf-outline {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.pdf-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
}
.tec-logo-outer {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.pdf-header .tec-txt {
  font-size: 1.5rem;
  font-weight: 600;
}
.tec-logo-outer img {
  object-fit: cover;
  pointer-events: none;
}
.pdf-st-profile {
  width: 7rem;
  height: 7rem;
  display: flex;
  position: absolute;
  right: 3.5rem;
  top: 3.5rem;
  border: 1px solid black;
}
.info-container {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
}
.pdf-general-info {
  position: relative;
  width: 100%;
  height: 6cm;
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  margin-top: 0.8rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
.info-content {
  position: static;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 2.5rem;
}
.pdf-contact-info {
  position: relative;
  width: 100%;
  height: 6cm;
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  margin-top: 0.8rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
.pdf-other-info {
  position: relative;
  width: 100%;
  height: 6cm;
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  margin-top: 0.8rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
.pdf-info-header {
  position: absolute;
  top: -0.4rem;
  color: rgb(31, 30, 30);
  font-weight: 500;
  font-size: larger;
  left: 0.2rem;
  width: 99%;
  padding-left: 4px;
  border-bottom: 1px solid black;
}
.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--edit-green);
  border-color: var(--edit-green);
  gap: 2px;
  width: 10rem;
  height: 4rem;
}
.download-btn:hover {
  border-color: var(--edit-green);
  color: var(--edit-green);
}
.info-key {
  font-size: 0.95rem;
  font-weight: 500;
}
.info-value {
  font-weight: 400;
  color: rgb(26, 26, 26);
}
.errorInputField {
  transition: none !important;
  border-color: #d93025 !important;
}
/* -------login css ----- */
.login-fullpage-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #71b7eb, #9b59b6);
}
.login-form-container {
  background-color: #ffff;
  position: relative;
  box-shadow: 0px 0px 2rem 1rem rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.login-title {
  font-weight: 600;
  font-size: 2.5rem;
  color: grey;
}
.userid-outer,
.password-outer {
  padding-left: 0.5cm;
  gap: 1rem;
  border: 4px solid #ffff;
  position: relative;
  width: 80%;
  height: 4rem;
  display: flex;
  border-bottom: 4px solid grey;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.underline {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  left: 0;
  right: 0;
  bottom: -4px;
  background-color: blue;
  transform: scaleX(0);
}

.userid-outer input,
.password-outer input {
  font-size: larger;
  width: 80%;
  height: 70%;
  outline: none;
  border: none;
}
input::placeholder {
  color: grey;
}
#userid-icon,
#password-icon {
  font-size: 2rem;
  color: grey;
  left: 0;
}
.fgnew {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
input:hover ~ .underline,
input:focus ~ .underline,
input:valid ~ .underline {
  transition: all ease 0.3s;
  transform: scaleX(1);
}
.errorfield {
  transition: none;
  background-color: rgb(217, 48, 37);
}
.errorouter {
  color: rgb(217, 48, 37);
  border-color: #d93025;
  border-radius: 8px;
}
.errormsg {
  display: none;
}
.err {
  color: #d93025;
}
.showerror {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  color: red;
  position: absolute;
  left: 0;
  bottom: -2rem;
}
.green {
  color: rgb(5, 218, 5);
}
/*-----register css------*/
.reg-nav-div {
  display: flex;
  position: sticky;
  flex-direction: column;
  top: 0;
  z-index: 2;
  background-color: rgb(235, 235, 235);
  width: 100%;
}
.signal {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #d93025;
}
.signal-green {
  background-color: var(--edit-green) !important;
}
.signal-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-names {
  font-size: 1.35rem;
  font-weight: 600;
  color: rgb(2, 2, 138);
}
.signal-overall-div {
  display: flex;
  width: 100%;
  height: 5rem;

  top: 0;
  z-index: 4;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid gray;
}
/* ---register----- */
.required {
  float: right;
}
.joined-input div{
  border: none;
  width: auto;
}
.inputdiv.required label::after {
  content: "*";
  color: red;
}
.label_required_mark::after{
  content: "*";
  color: red;
}
.form-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* -------sections--------- */
.profile-sections {
  display: flex !important;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  height: max-content;
  padding-bottom: 2rem;
}
.showSection {
  display: flex !important;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ffff;
  width: 55%;
  row-gap: 20px;
  padding-bottom: 10px;
  height: max-content;
  opacity: 1;
  border: 1px solid grey;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);

  padding-bottom: 2rem;
}
.reg-form {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffff;
  row-gap: 20px;
  padding-bottom: 10px;
  height: max-content;
  opacity: 1;
  padding-top: 4rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
}
section {
  display: none;
}
.section-header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: auto;
  right: auto;
  top: 0;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  font-size: 1.9rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #ffff;
  background-color: #0000ff;
}
.section-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 3rem;
  box-sizing: border-box;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0000ff;
}
.requirements {
  position: absolute;
  width: 15rem;
  height: 11rem;
  background-color: #ffff;
  border: 1px solid grey;
  right: -15rem;
  z-index: 4;
  display: none;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  top: 2rem;
}
.warning {
  font-size: 1.4rem;
  color: #d93025;
}
.req-ul-head {
  display: flex;
  align-items: center;
  color: #000;
  margin-left: 0.7rem;
  top: 0.5rem;
}
.req-li {
  width: 12rem;
  color: rgb(90, 90, 90);
}
.req-ul {
  margin-left: 2rem;
  font-size: 0.9rem;
}

.requirements::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #ffff;
  position: absolute;
  rotate: 45deg;
  left: -0.55rem;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  top: 11px;
  z-index: 1;
}
#title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: #000000;
}
.profile {
  padding-top: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 14rem;
  justify-content: space-evenly;
}
.profile label {
  font-size: 20px;
  font-weight: 400;
}
.profile_input {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;

  left: 0;
  right: 0;
}
.profile_outer {
  position: relative;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border: 4px solid grey;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img:hover {
  opacity: 0.5;
}
.input[type="date"] {
  outline: none;
  border-radius: 10px;
  font-family: "Poppins", "sans-serif";
  height: 45px;
  border: 2px solid #2c2cf1;
  font-size: medium;
  font-weight: 400;
  background: none;
  padding-left: 15px;
  width: 100%;
}

.input {
  outline: none;
  border-radius: 10px;
  height: 45px;
  border: 2px solid #2c2cf1;
  font-size: medium;
  font-weight: 400;
  padding-left: 15px;
}
.default {
  background-color: rgb(221, 221, 221);
  color: grey;
  font-weight: 600;
  font-size: 1.3rem;
  pointer-events: none;
}
.dropdown-container {
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 5.25rem;
  border-radius: 0.5rem;
  height: 11rem;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.5rem;
  gap: 0.5rem;
  overflow-y: scroll;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1),
    0px 1px 2px 2px rgba(0, 0, 0, 0.1), 0px 1px 2px 2px rgba(0, 0, 0, 0.1),
    0px 1px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all ease 1s;
}
.blocked{
  cursor: not-allowed;
  pointer-events: none;
  opacity: .5;
}
.dp-elements {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  font-size: large;
  color: #636363;
  background-color: #d6d6d654;
  padding: 4px 0px;
  height: auto;
  padding-left: 1rem;
  cursor: pointer;
}
.dp-icon {
  position: absolute;
  cursor: pointer;
  z-index: 0.5;
  right: 0.8rem;
  top: 2.5rem;
  font-size: 2rem;
  color: gray;
}
.rotate {
  transform: rotate(180deg);
}
.dp-elements:hover {
  background-color: rgb(189, 189, 189);
}
.dp-open {
  display: flex;
}

.inputdiv label {
  font-size: larger;
  font-weight: 500;
}
.input:focus,
select:focus,
select:hover {
  transition: border ease 0.8s;
  border-color: rgb(44, 44, 241);
}
.errorFieldMsg {
  transition: all ease-in-out 0.1s !important;
  position: absolute;
  bottom: -0.5cm;
  height: 20px;
  display: flex;
  font-size: small;
  color: #d93025;
}
.greenFieldMsg {
  transition: all ease-in-out 0.1s !important;
  position: absolute;
  bottom: -0.5cm;
  height: 20px;
  display: flex;
  font-size: small;
  color: green;
}
select {
  outline: none;
  border-radius: 10px;
  height: 1.2cm;
  padding-left: 15px;
  background-color: #fff;
  border: solid rgb(204, 204, 204);
  font-size: larger;
}
select option {
  font-family: sans-serif;
  font-weight: 100;
}
.inputdiv {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 5rem;
  width: 9cm;
  justify-content: space-evenly;
}
.radio {
  flex-direction: column;
}
.radio-outer {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  gap: 6px;
  font-weight: 500;
}
.radio-container {
  display: flex;
  margin-right: 8px;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.radio-input {
  height: 1.5rem;
  width: 1.5rem;
  display: block;
}
.addressdiv {
  height: 3cm;
}
.address-input {
  border: 2px solid #2c2cf1 !important;
}
.addressdiv textarea {
  border-radius: 10px;
  border: solid rgb(204, 204, 204);
  padding: 5px;
  font-family: "Poppins", "sans-serif";
  outline: none;
  height: 100%;
}
.hide {
  opacity: 0;
}
.btn-div {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 1rem;
  justify-content: space-around;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 1rem;
  width: 9rem;
  font-weight: 300;
  font-size: larger;
  font-weight: bolder;
  height: 3rem;
  color: #fff;
  background-color: rgb(44, 44, 241);
  outline: none;
  border: none;
  border: solid rgb(44, 44, 241);
  border-radius: 0.5rem;
}
.register-btn {
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 1rem;
}
.eye-icon {
  position: absolute;
  right: 1rem;
  bottom: 0.8rem;
  cursor: pointer;
  color: grey;
}
.eye-icon:hover {
  color: black;
}
.eye-icon:active {
  color: gray;
  transition: all ease 0.01s;
}
.btn:hover {
  transition: all ease-out 0.2s;
  border: solid rgb(44, 44, 241);
  background-color: #fff;
  color: rgb(44, 44, 241);
}

@media screen and (max-width: 480px) {
  .student-profile-txt {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .topbar-container {
    height: 4.5rem;
    padding: 4px 10px;
  }
  .profile-name-container .st-profile {
    width: 4rem;
    height: 4rem;
  }

  .profile-name-container img {
    width: 100%;
    border: none;
    outline: none;
    object-fit: cover;
  }

  body {
    overflow-x: hidden;
  }
  .ifsc-container {
    width: auto;
    flex-direction: column;
  }
  .reg-nav-div {
    width: auto;
  }
  .sec-names {
    font-size: 1rem;
    text-align: center;
    line-height: 1.1rem;
  }
  .showSection {
    width: auto;
  }
  .requirements {
    left: auto;
    right: auto;
    top: 6rem;
  }
  .requirements::before {
    transform: rotate(90deg);
    top: -0.55rem;
    left: 1rem;
  }

  .s-h-dash {
    font-size: 1.7rem;
    font-weight: 400;
    font-family: sans-serif;
  }
}
